#title-icon {
  font-size: 12rem;
  background: linear-gradient(45deg, MediumSlateBlue 50%, hotpink 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#title-icon:hover {
  animation-name: textColor;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

@keyframes textColor{
    0%{
        color: MediumSlateBlue;
    }
    100%{
        color: hotpink;
    }
}

#btn_container {
  position: relative;
}

#show_copy {
  position: absolute;
  bottom: -120%;
  left: 50%;
  transform:translateX(-50%);

  display: none;
}

.popup {
  animation: popup 5s;
}

@keyframes popup{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}